<div class="setting-wrapper">
  <div class="setting">
    <div class="setting-detail">
      <app-sidebar class="setting-sidebar"></app-sidebar>
      <div class="setting-container col-lg-12 col-md-12 col-sm-12">
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-6 col-sm-6 inputs">
            <div>
              <label for="">Total budget</label>
            </div>
            <div>
              <input type="text" [(ngModel)]="budget.budget" placeholder="2000000" />
            </div>
            <div>
              <button mat-button (click)="setBudget(budget)" class="action-btn setting-buttons__buttons">
                Update
              </button>
            </div>
          </div>
          <div class="col-lg-12 col-md-6 col-sm-6 inputs">
            <div>
              <label for="">Categories</label>
            </div>
            <div>
              <input type="text" [(ngModel)]="category.name" placeholder="Category name here" />
            </div>
            <div>
              <button mat-button (click)="addCategory(category)" class="action-btn setting-buttons__buttons">
                Add
              </button>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="categories.length > 0">
          <div class="col-2 list">
            <app-categories-list></app-categories-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>